# ignore text files
*.txt

# ignore csv files
*.csv

# ignore .DS_Store
*.DS_Store

# ignore log files
*.log

# ignore fna files
*.fna

# ignore src
*.src

# ignore gz files
*.gz

*.err
*.faa
*.ffn
*.fsa
*.gbk
*.gff
*.sqn
*.tbl
*.tsv
*.tsvz
